<!DOCTYPE html>
<html>
  <head>
    <title>SnowLesson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= render "layouts/header" %>
      
      <%= render "layouts/search" %>
    
        <div class="user_inst_nav">
          <div class="container">
            
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>   <!--フラッシュメッセージ表示用html-->
            <% end %>
            
            <div class="row">
                
                  <% if instructor_signed_in? && !user_signed_in? %>
                    <%= render "layouts/instructor_signed_in" %>     <!-- partialでリファクタリング -->
                  <% elsif !instructor_signed_in? && !user_signed_in? %>
                    <%= render "layouts/instructor_not_signed_in" %>
                  <% end %>
                
                  <% if user_signed_in? && !instructor_signed_in? %>
                    <%= render "layouts/user_signed_in" %>
                  <% elsif !user_signed_in? && !instructor_signed_in? %>
                    <%= render "layouts/user_not_signed_in" %>
                  <% end %>
              
          </div>
        </div>
      </div>
      
    <div class="container">
      <%= yield %>
    </div>
    
    <%= render "layouts/footer" %>
    
  </body>
</html>